.container {
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #f3f3f3;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}