<div class="container pb-20">
<!--     
        <app-top-nav class="w-100"></app-top-nav>

    
        <app-header></app-header>
    
        <app-txtsec1></app-txtsec1> -->
    <!-- <app-databind></app-databind> -->
    <!-- <br><br>
    <app-class-style></app-class-style> -->
    <br><br>
    <!-- event binding -->
    <!-- <app-event-bind></app-event-bind> -->
    <!-- <app-two-way></app-two-way> -->
    <app-ngif></app-ngif>
    <br>
    <app-ngswitch></app-ngswitch>

    <br>
    <app-ngfor></app-ngfor>
</div>