<!-- ➤ Events for your Reference

(focus)="myMethod()" // An element has received focus
(blur)="myMethod()" // An element has lost focus

(submit)="myMethod()" // A submit button has been pressed

(scroll)="myMethod()"

(cut)="myMethod()"
(copy)="myMethod()"
(paste)="myMethod()"

(keydown)="myMethod()"
(keypress)="myMethod()"
(keyup)="myMethod()"

(mouseenter)="myMethod()"
(mousedown)="myMethod()"
(mouseup)="myMethod()"

(click)="myMethod()"
(dblclick)="myMethod()"

(drag)="myMethod()"
(dragover)="myMethod()"
(drop)="myMethod()"-->

<!-- <button (click)="addToCard()" class="btn btn-primary">Add to Cart</button> -->



<br><br>
<!-- <input type="text" value="click" (click)="myInputClick($event)"> -->

<button value="Laptop" (click)="addToCard($event)" >Laptop</button>
<button value="TV" (click)="addToCard($event)" >TV</button>
<button value="Computer" (click)="addToCard($event)" >Computer</button>
<br><br>
<p>{{msg}}</p>

<br><br>

<!-- <input type="text" #inoutInfo value="SurajUX" name="XYZSS"> -->
<input type="text" #inoutInfo value="SurajUX2121" name="11XYZSS">
<button (click)=infoInput(inoutInfo)>Get Info</button>