<div class="row mt-20">
    <div class="col-6">
        <div class="bg-white p-15">
            <h2>lorem ipsum dolor sit amet consectetur</h2>
            <p>lorem ipsum dolor sit amet consectetur adipisicing elit. quaerat maiores, dolor deserunt quis eos
                voluptates?
                explicabo, repellendus nihil! explicabo itaque nulla maiores enim aliquid maxime eum, doloremque eius
                pariatur
                ullam!</p>
        </div>
    </div>
    <div class="col-6">
        <div class="bg-white p-15">
            <h2>lorem ipsum dolor sit amet consectetur</h2>
            <p>lorem ipsum dolor sit amet consectetur adipisicing elit. quaerat maiores, dolor deserunt quis eos
                voluptates?
                explicabo, repellendus nihil! explicabo itaque nulla maiores enim aliquid maxime eum, doloremque eius
                pariatur
                ullam!</p>
        </div>
    </div>
</div>