<h2>Hi i'm {{Name}}</h2>

<br>
{{myMethode()}}

<br><br>

<p>I'm {{appStatus ? status1.toUpperCase() : status2.toUpperCase()}}</p>

<h2>data Binding</h2>
<input type="text" value="{{status1}}">
<br><br>
<input type="text" bind-value="status1" [disabled]="enebled">
<br><br>
<input type="text" [value]="appStatus? status1 : status2">