<p>ngfor works!</p>

<table>
    <thead class="thead-dark">
        <tr>
            <th>Product id</th>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productData odd as i">
            <td>#{{i}}</td>
            <td>{{product.proId}}</td>
            <td>{{product.proname}}</td>
            <td>{{product.proPrice}}</td>
        </tr>
    </tbody>
</table>

<br><br>
    <div class="row mb-3">
        <div class="col-4 form-group">
            <input type="text" #uname class="form-control" placeholder="User Name">
            <p class="ng-error" *ngIf="validation.isNameNotValid">Field is required</p>
        </div>
        <div class="col-4 form-group">
            <input type="email" #uemail class="form-control" placeholder="User Email">
            <p class="ng-error" *ngIf="validation.isEmailNotValid">Field is required</p>
        </div>
        <div class="col-2 form-group d-flex">
            <button class="btn btn-primary" (click)="createUser(uname, uemail)">Create</button><button class="btn btn-danger ml-1" (click)="removeUser()">Remove</button>
        </div>
        <!-- <pre [innerHtml]="validation|json"></pre> -->
    </div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>User Name</th>
            <th>User Email</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users; index as i">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><button class="btn btn-danger" (click)='removeItem(i)'>Remove</button></td>
        </tr>
    </tbody>

</table>