<br><br>
<input name="" [(ngModel)]='inoutVal' id="">

<p>{{inoutVal}}</p>

<h2>Ngx Bootstrap</h2>
<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker>
    </div>


    
</div>
<br>

<carousel [(activeSlide)]="activeSlideIndex">
    <slide *ngFor="let slide of slides; let index=index">
        <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">

        <div class="carousel-caption">
            <h4>Slide {{index}}</h4>
            <p>{{slide.text}}</p>
        </div>
    </slide>
</carousel>

<br />
<br />

