<div class="row">
    <div class="col-6 offset-3 text-center mt-5 mb-5" style="background-color: #f5f5f5;">
        <h1 class="text-center mb-3 pt-2">404</h1>
        <p>Page Not found</p>
    </div>
</div>