<div class="row">
    <div class="col-6 offset-3 text-center mt-5 mb-5" style="background-color: #f5f5f5;">
        <h2 class="text-center mb-3 pt-2">Login</h2>
        <div class="form-group">
            <input type="email" class="form-control">
        </div>
        <div class="form-group">
            <input type="Password" class="form-control">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success">Submit</button>
        </div>
    </div>
</div>