a {
    text-decoration: none;
}
.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #488edd;
    padding: 15px 0px;
    width: 100%;
    .brand {
        padding: 0 15px;        
        a {
            color: #fff;
        }
    }
     ul {
        display: flex;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            padding: 0 15px;
            a {
                color: #fff;
            }
        }
    }
}