<div class="row">
    <div class="topNav">
        <div class="brand">
            <a href="">Angular Project</a>
        </div>

        <div class="topnav-menu">
            <ul class="">
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Blogs</a></li>
            </ul>
        </div>
    </div>
</div>