<div class="pb-5" style="background-color: aquamarine;">
    <div class="text-center">
        <img src="../../../assets/images/3.jpg" class="img-flout w-100 mb-1" alt="">
        <h1>Service 3</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laboriosam nesciunt neque. Adipisci
            consequatur expedita accusamus suscipit delectus reprehenderit non, quod nesciunt, reiciendis magnam velit
            odit, quidem excepturi deleniti iure?</p>
    </div>
</div>