<!-- <app-myContainer></app-myContainer> -->

<div class="container pb-5">
    <header class="bg-gray" style="background: #f5f5f5;">
        <nav>
            <ul class="nav nav-tab" style="padding: 0 10px;">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="/about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/services">Services</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- <app-home></app-home> -->
    <!-- <app-login></app-login> -->
    <router-outlet></router-outlet>
</div>