<div class="pt-5 pb-5" style="background-color:darkcyan;">
    <div class="text-center">
        <h1>Services page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laboriosam nesciunt neque. Adipisci
            consequatur expedita accusamus suscipit delectus reprehenderit non, quod nesciunt, reiciendis magnam velit
            odit, quidem excepturi deleniti iure?</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="../../assets/images/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <button type="button" class="btn btn-primary" routerLink="service1">Know More</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <img src="../../assets/images/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <button type="button" class="btn btn-primary" routerLink="service2">Know More</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <img src="../../assets/images/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <button type="button" class="btn btn-primary" routerLink="service3">Know More</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <img src="../../assets/images/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <button type="button" class="btn btn-primary" routerLink="service4">Know More</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4 border-left">
        <router-outlet></router-outlet>
    </div>
</div>