<div class="pt-5 pb-5" style="background-color:cadetblue;">
    <div class="text-center">
        <h1>Contact Us page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laboriosam nesciunt neque. Adipisci
            consequatur expedita accusamus suscipit delectus reprehenderit non, quod nesciunt, reiciendis magnam velit
            odit, quidem excepturi deleniti iure?</p>
    </div>
</div>