<p>ngswitch works!</p>

<div>
    <select name="" class="form-control" (change)="changeProduct($event)">
        <option value="Dafault">Select Product</option>
        <option value="Mobile">Mobile</option>
        <option value="TV">TV</option>
        <option value="AC">AC</option>
        <option value="Iphone">Iphone</option>
    </select>

    <div class="mt-2" [ngSwitch]="selectProduct">
        <p class="text-success mb-1" *ngSwitchDefault="'Default'" >Select Product</p>
        <p class="text-success mb-1" *ngSwitchCase="'Mobile'" >Mobile</p>
        <p class="text-success mb-1" *ngSwitchCase="'TV'" >TV</p>
        <p class="text-success mb-1" *ngSwitchCase="'AC'" >AC</p>
        <p class="text-success mb-1" *ngSwitchCase="'Iphone'" >Iphone</p>
    </div>
</div>