<button class="btn btn-primary" (click)=createBlock()>Create Block</button>

<div *ngIf="isValid; then ifCreate else elseBlock"></div>
<ng-template #ifCreate>
    <div>Block has created</div>
</ng-template>

<ng-template #elseBlock>
    <div>Block not created yet</div>
</ng-template>